// Background and text
$color-bg: #FFFFFF;
$color-text: #333333;
$color-border: #e0e0e0;

// Accent colors
$color-orange: #ECA72C;
$color-blue: #2667FF;
$color-red: #D52941;
$color-green: #45CB85;
$color-primary: $color-blue;
$color-secondary: $color-green;