@font-face {
    font-family: "Roboto";
    src: url("/fonts/roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto Bold";
    font-weight: bold;
    src: url("/fonts/roboto/Roboto-Bold.ttf");
}

@font-face {
    font-family: "Roboto Italic";
    font-style: italic;
    src: url("/fonts/roboto/Roboto-Italic.ttf");
}
